/* Importa a fonte Montserrat */

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.cliente-page {
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  min-height: 100vh;
}

.add-dependente {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-dependente button {
  font-size: 16px;
  font-weight: 600;
  width: 230px;
  height: 40px;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
}

.add-dependente button:hover {
  font-size: 110%;
  background-color: #004b9b;
  border: none;
}

.cabecalho .btn-primary {
  font-size: 15px;
  margin-left: 10px;
  height: 38px;
  border: none;
  border-radius: 20px;
  outline: none;
  transition: 0.3s ease-in-out;
  width: 100px;
  font-weight: 600;
}

.cabecalho .btn-primary:hover {
  font-size: 110%;
  background-color: white;
  color: #004b9b;
  border: none;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004b9b;
  color: white;
  padding: 20px;
}

.cabecalho h2{
  font-size: 24px;
  margin: 0;        
}

.titulo-id h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}

.titulo-id h4{
  font-size: 20px;
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.cliente-info {

  margin-bottom: 20px;
  
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cliente-info h3 {
  margin-bottom: 10px;
}

.botoes-acao {
  display: flex;
  justify-content: flex-end;
  /* Alinha os botões à direita */
  gap: 10px;
}

.botoes-acao .btn-primary {
  /* Botão de editar (lápis) */
  background-color: #007bff;
  min-width: 50px;
  height: 50px;
  max-height: 50px;
  border-radius: 40px;
  border: none;
  margin-left: 15px;
  transition: 0.3s ease-in-out;
  /* Azul */
}

.botoes-acao .trash {
  /* Botão de excluir (lixeira) */
  background-color: #dc3545;
  /* Vermelho */
}

.botoes-acao .btn-primary:hover{
  background-color: white;
  color:#007bff;
  font-size: 23px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.botoes-acao .trash:hover{
  color: #dc3545;
}

.cliente-info .cabecalho-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pessoal-info,
.endereco-info {
  margin-top: 25px;
  margin-bottom: 20px;
  /* Aumenta o espaçamento entre as seções */
}

.pessoal-info h3,
.endereco-info h3 {
  font-size: 20px;
  /* Aumenta um pouco o tamanho do título */
  margin-bottom: 15px;
  /* Adiciona espaço entre o título e a lista */
}

.pessoal-info .list-group-item,
.endereco-info .list-group-item{
  max-width: 65%;
}

.list-group-item {
  border: none;
  /* Remove a borda padrão da lista */
  padding: 15px 20px;
  /* Aumenta o espaçamento interno dos itens */
  border-bottom: 1px solid #eee;
  /* Adiciona uma linha sutil entre os itens */
}

.list-group-item p {
  font-size: 16px;
  /* Aumenta um pouco o tamanho da fonte */
  margin-bottom: 0;
  /* Remove a margem inferior padrão do parágrafo */
}

.list-group-item:last-child {
  border-bottom: none;
  /* Remove a linha do último item */
}

.dependentes {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
}

.dependentes h3 {
  margin-bottom: 10px;
}

.adicionar-dependente {
  margin-top: 20px;
}

.adicionar-dependente h4 {
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #dee2e6;
}

.table .btn-primary{
  background-color: #007bff;
  border: none;
  width:30px;
  height: 30px;
  min-width: 30px;
  border-radius: 30px;
  font-size: 13px;
  align-items: center;
  margin-left: 10px;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
}

.table .trash{
  background-color: #dc3545;
}

.table .btn-primary:hover{
  font-size: 16px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #007bff;
}


.table .trash:hover{
  color: #dc3545;
}

/* ESTILO DO MODAL */

.modal-content {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.modal-header {
  background-color: #004b9b; 
  color: white; 
  font-size: 10px;
  display: flex; /* Para alinhar o título e o botão */
  align-items: center; /* Alinha verticalmente */
  justify-content: space-between; /* Distribui o espaço entre o título e o botão */
  height: 50px;
  padding: 20px;
}

.modal-title {
  font-size: 1.2rem; /* Título um pouco maior */
  margin-bottom: 0; /* Remove a margem inferior padrão */
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex; /* Para alinhar os botões */
  justify-content: flex-end; /* Alinha os botões à direita */
  align-items: center;
  height: 60px;
}

.modal-footer .btn-secondary{
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
  font-size: 16px;
  margin-right: 10px;
  height: 35px;
  width: 90px;
  transition: 0.3s ease-in-out;
}
.modal-footer .btn-secondary:hover{
  font-size: 17px;
  font-weight: 500;
  border: none;
  background-color: #fff;
  color: #dc3545;
}

.modal-footer .btn-primary{
  color: white;
  background-color: #007bff;
  font-size: 16px;
  margin-right: 20px;
  height: 35px;
  width: 90px;
  border: none;
  transition: 0.3s ease-in-out;
}

.modal-footer .btn-primary:hover{
  font-size: 17px;
  font-weight: 500;
}

.form-group{
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold; 
}

.form-group input{
  padding-left: 10px;
  background-color: white;
  outline: none;
  height: 30px;
  font-weight: 500;
}
