* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home-page {
  display: flex;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  width: 100%;
  min-height: 100vh;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}


/* HEADER */

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004b9b;
  color: white;
  height: 3rem;
  min-width: 100%;
}

.cabecalho .logout {
  margin-right: 30px;
}

.logout {
  color: #fff;
}

.logout :hover {
  color: #dcedff;
  transition: .1s ease-in-out;
}

.menu {
  display: flex;
  align-items: center;
}

.menu h2 {
  margin-left: 30px;
  font-size: 20px;
}

.menu i {
  margin-left: 30px;
}



/* LeftSideBar */

.offcanvas {
  padding: 20px;
}



/* BODY */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.add-cliente {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-cliente button {
  align-items: center;
  font-size: 16px;
  width: 150px;
  max-width: 230px;
  height: 40px;
  border: none;
  transition: 0.3s ease-in-out;
}

.add-cliente button:hover {
  background-color: #004b9b;
}


/* Mostra só o botão e esconda o ícone */
:host ::ng-deep p-iconfield .btn.btn-primary {
  display: inline-flex;
  align-items: center;
}

:host ::ng-deep p-iconfield .responsive-btn {
  display: none;
}

/* Quando a largura ficar menor que X (ajuste pra seu breakpoint), faça o inverso */
@media (max-width: 600px) {
  :host ::ng-deep p-iconfield .btn.btn-primary {
    display: none;
  }

  :host ::ng-deep p-iconfield .responsive-btn {
    display: inline-flex;
    margin-right: 10px;
    color: #004b9b;
    background: #fff;
    width: 35px;
    height: 35px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
  }

  :host ::ng-deep p-iconfield .responsive-btn:hover {
    background: #f5f5f5;
  }
}

.listaCliente {
  width: 100%;
  min-height: 100%;
  background-color: #f0f0f08e;
  border-radius: 8px;
  padding: 20px;
}

.listaCliente h2 {
  margin-bottom: 10px;
}



/* TABELA */

/* Container principal da tabela (.tabela) */
:host ::ng-deep .tabela {
  background: #fff !important;
  border: none !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) !important;
  border-radius: 8px !important;
  overflow: hidden !important;
}

/* Tabela de itens */
:host ::ng-deep .p-datatable-table-container {
  border-radius: 7px 7px 0 0;
}

/* Cabeçalho da tabela (colunas) */
:host ::ng-deep .tabela .p-datatable-thead>tr>th {
  background-color: #fafafa !important;
  color: #333 !important;
  font-weight: 600 !important;
  border-bottom: 1px solid #e0e0e0 !important;
  padding: 0.75rem 1rem !important;
}

/* Placeholder do input */
:host ::ng-deep .tabela .p-datatable-thead>tr>th ::placeholder {
  color: #bdbdbd;
}

/* Icone de filtro */
:host ::ng-deep .p-button-text.p-button-secondary {
  color: #004b9b;
  width: 30px;
  height: 30px;
  background-color: #eeeeee;
  align-items: center;
  justify-items: center;
  margin: 3px;
  margin-left: 8px;

}

/* Hover do Icone de filtro */
:host ::ng-deep .p-button-text.p-button-secondary:hover {
  color: #007bff !important;
  background-color: #fafafa !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
}

/* Lista das opções de filtro */
::ng-deep .p-datatable-filter-constraint-list {
  gap: 5px !important;
  background: #fff !important;
  border-radius: 10px !important;
  padding: 5px !important;
  margin-top: 5px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3) !important;
}

/* Cada opção das opções de filtro */
::ng-deep .p-datatable-filter-constraint {
  padding-left: 5px !important;
  border-radius: 5px !important;
  padding-top: 3px !important;
}

/* Hover de cada opção das opções de filtro */
::ng-deep .p-datatable-filter-constraint:hover {
  background: #e2e2e2 !important;
  color: #004b9b !important;
}

/* Inputs do filtro (campo de texto dentro do p-columnFilter) */
:host ::ng-deep .p-inputtext {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  background-color: #fff;
  color: #555;
  transition: border-color 0.2s;
  height: 30px;
}

/* Modo focus do input de filtro */
:host ::ng-deep .p-inputtext:focus {
  border-color: #007bff !important;
  box-shadow: none !important;
  outline: none !important;
}


/* Cor os itens da lista */
:host ::ng-deep .tabela .p-datatable-tbody>tr {
  transition: background-color 0.2s !important;
  background-color: #fefefe;
}

/* Hover dos itens da lista */
:host ::ng-deep .tabela .p-datatable-tbody>tr:hover {
  background-color: #eeeeee;
  transition: .3s;
}

/* Células do corpo */
:host ::ng-deep .tabela .p-datatable-tbody>tr>td {
  border: none;
  border-bottom: 1px solid #f0f0f0;
  padding: 0.75rem 1rem;
  color: #303030;
  font-size: 0.95rem;
}



.tabela button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.2s, transform 0.1s;
}

.tabela button:hover {
  background-color: #0056b3;
  /* escurecer no hover */
}


/* PESQUISA GLOBAL */

/* Container do ícone + input */
:host ::ng-deep .p-iconfield {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 10px !important;
}

:host ::ng-deep .p-iconfield button {
  margin-right: 10px;
  min-height: 37px;
  max-height: 37px;
  min-width: fit-content;
}


:host ::ng-deep .p-datatable-header {
  border: none;
}

/* Campo de texto de pesquisa global (classe já criada no seu CSS) */
.custom-global-filter {
  width: 250px;
  border: 1px solid #ddd !important;
  border-radius: 7px;
  padding: 0.45rem 0.75rem;
  font-size: 0.95rem;
  color: #303030 !important;
  background-color: #fff;
  transition: border-color 0.2s;
}

.custom-global-filter::placeholder {
  color: #bdbdbd !important;
}

.custom-global-filter:focus {
  border-color: #007bff !important;
  box-shadow: none !important;
  outline: none !important;
}


/* PAGINATOR */

/* Remover bordas e deixar mais clean */
:host ::ng-deep .tabela .p-paginator {
  border: none;
  background-color: #fff;
  font-size: 0.9rem;
  padding: 0.75rem 1rem;
  border-radius: 0px 0px 7px 7px;
}

/* Seletor de itens por pagina */
:host ::ng-deep .tabela .p-paginator .p-select {
  padding: 8px;
  background: transparent;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  width: 65px;
  height: 30px;
  align-items: center;
  justify-items: center;
}

/* Hover do Seletor  */
:host ::ng-deep .tabela .p-paginator .p-select:hover {
  border: 1px solid #999999 !important;
}

/* Seletor em modo focus */
:host ::ng-deep .tabela .p-paginator .p-select:focus-visible {
  border: 1px solid #333 !important;
}

/* Icone do dropdown*/
:host ::ng-deep .tabela .p-paginator .p-select .p-select-dropdown {
  color: #bdbdbd !important;

}

/* Quantidade de itens por pagina lista*/
:host ::ng-deep .tabela .p-paginator .p-select .p-select-list {
  padding: 6px;
  background: #fff;
  border-radius: 6px;

}

:host ::ng-deep .p-overlay-content {
  margin-top: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3) !important;
  border-radius: 6px;
}

/* Quantidade de itens por pagina */
:host ::ng-deep .tabela .p-paginator .p-select p-selectitem {
  padding: 4px;
  margin-bottom: 5px;
  border-radius: 6px;
}

/* Hover para a quantidade de itens por pagina */
:host ::ng-deep .tabela .p-paginator .p-select p-selectitem:hover {
  background: #eeeeee;
  color: #004b9b;
}

/* Botões de página */
:host ::ng-deep .tabela .p-paginator .p-paginator-page,
:host ::ng-deep .tabela .p-paginator .p-paginator-next,
:host ::ng-deep .tabela .p-paginator .p-paginator-prev,
:host ::ng-deep .tabela .p-paginator .p-paginator-first,
:host ::ng-deep .tabela .p-paginator .p-paginator-last {
  border: none;
  color: #555;
  margin: 0 0.25rem;
  font-weight: 500;
  width: 35px;
  height: 35px;
  border-radius: 25px;
}

/* Hover botões de página */
:host ::ng-deep .tabela .p-paginator .p-paginator-page:hover,
:host ::ng-deep .tabela .p-paginator .p-paginator-next:hover,
:host ::ng-deep .tabela .p-paginator .p-paginator-prev:hover,
:host ::ng-deep .tabela .p-paginator .p-paginator-first:hover,
:host ::ng-deep .tabela .p-paginator .p-paginator-last:hover {
  color: #004b9b !important;
  background: #e0e0e0 !important;
}

/* Pagina selecionada do paginator */
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-paginator-page-selected {
  color: #004b9b !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-paginator-page-selected:hover {
  background: transparent !important;
  color: #004b9b !important;
}

/* Dropdown “rows per page” */
:host ::ng-deep .tabela .p-paginator .p-paginator-rpp-options .p-dropdown {
  min-width: 3rem;
  font-size: 0.9rem;
}



/* IMAGEM */
.noDataImg {
  display: grid;
  padding: 40px;
  justify-content: center;
  justify-items: center;
  background-color: #e6e6e6;
  border-radius: 8px;
}

.noDataImg img {
  width: 50%;
}

.noDataImg span {
  font-size: 25px;
  padding-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: normal;

}



/* MODAL */

.modal-fade {
  display: center;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 2rem);
}

.modal-content {
  border-radius: 8px;
  width: 800px;
  max-width: 1000px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background-color: #004b9b;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 20px;
}

.modal-title {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.modal-footer .btn-secondary {
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
  font-size: 16px;
  margin-right: 10px;
  height: 35px;
  width: 90px;
  transition: 0.3s ease-in-out;
}

.modal-footer .btn-secondary:hover {
  font-size: 17px;
  font-weight: 500;
  border: none;
  background-color: #fff;
  color: #dc3545;
}

.modal-footer .btn-primary {
  color: white;
  background-color: #007bff;
  font-size: 16px;
  margin-right: 20px;
  height: 35px;
  width: 90px;
  border: none;
  transition: 0.3s ease-in-out;
}

.modal-footer .btn-primary:hover {
  font-size: 17px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  padding-left: 10px;
  background-color: white;
  outline: none;
  height: 30px;
  font-weight: 500;
}

/* Espaçamento entre os botões */
.modal-footer .btn+.btn {
  margin-left: 10px;
}



/* Mensagem de erro */
.error-message {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  margin-top: 70px;
  padding-right: 10px;
  border-radius: 7px;
  background: #fff;
  margin-right: 20px;
  color: red;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: slide-in-right 0.5s ease-out forwards;
}

.success-message {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  margin-top: 70px;
  padding-right: 10px;
  border-radius: 7px;
  background: #fff;
  margin-right: 20px;
  color: rgb(0, 180, 9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: slide-in-right 0.5s ease-out forwards;
}

.linha-vertical {
  position: relative;
  border-left: 4px solid #004b9b;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}

@keyframes slide-in-right {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}