@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

form{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

form span{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 15px;
    margin-top: -10px;
    margin-bottom: 25px;
}

form button{
    background-color: rgb(122, 164, 255);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

form input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    width: 290px;
}

form h1{
    font-weight: 600;
}

form .container {
    background-color: #fff; 
    padding: 30px; 
    border-radius: 8px;
    width: 90%; 
    max-width: 400px; 
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
}

form .container label {
    align-self: flex-start; /* Alinha os labels à esquerda */
}