<!--TELA CLIENTES-->
<app-left-sidebar></app-left-sidebar>

<app-header></app-header>
<div class="home-page">
  <div class="container">
    <!-- MENSAGEM DE ERRO OU SUCESSO  -->
    <div *ngIf="errorMessage" class="error-message">
      <div class="linha-vertical"></div>
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="success-message">
      <div class="linha-vertical"></div>
      {{ successMessage }}
    </div>

    <!-- LISTA DE CLIENTES -->
    <div class="listaCliente">
      <div class="add-cliente">
        <button *ngIf="hasNoData && !loading" type="button" class="btn btn-primary" data-target="#adicionarClienteModal"
          (click)="showDialog()">
          Adicionar Cliente
        </button>
      </div>

      <div class="d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border text-secondary" style="width: 4rem; height: 4rem; align-items: center;"
          role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="noDataImg" *ngIf="hasNoData && !loading">
        <span>Não foi encontrado nenhum cliente.</span>
        <img src="undraw_search-engines_k649.svg" alt="Sem dados">
      </div>

            <p-table #dt2 *ngIf="!hasNoData && !loading" class="tabela" [value]="clientes" dataKey="id" [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25, 50]" [loading]="loading" [paginator]="true"
        [globalFilterFields]="['idCliente','nome', 'cpf', 'email']" [tableStyle]="{ 'min-width': '75rem'}"
        [scrollable]="true" [scrollHeight]="'flex'">
        <ng-template #caption>
          <div class="flex">
            <p-iconfield iconPosition="left" class="ml-auto">
              <button type="button" class="btn btn-primary" data-target="#adicionarClienteModal" (click)="showDialog()">
                Adicionar Cliente
              </button>
              <i type="button" class="fa-solid fa-user-plus responsive-btn" data-target="#adicionarClienteModal"
                (click)="showDialog()"></i>
              <input pInputText type="text" class="custom-global-filter"
                (input)="dt2.filterGlobal($any($event.target).value, 'contains')" placeholder="Pesquisa Global">
            </p-iconfield>
          </div>
        </ng-template>
        <ng-template #header>
          <tr>
            <th>ID - Cliente</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>E-mail</th>
            <th>Ações</th>
          </tr>
          <tr>
            <th>
              <p-columnFilter type="text" field="idCliente" placeholder="Pesquisar por Id"
                ariaLabel="Filter Name"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="nome" placeholder="Pesquisar por nome"
                ariaLabel="Filter name"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="cpf" placeholder="Pesquisar por cpf"
                ariaLabel="Filter name"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="email" placeholder="Pesquisar por e-mail"
                ariaLabel="Filter name"></p-columnFilter>
            </th>
            <th>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-customer>
          <tr>
            <td style="width:20%">
              {{ customer.idCliente }}
            </td>
            <td style="width:30%">
              <div class="flex items-center gap-2">
                <span>{{ customer.nome }}</span>
              </div>
            </td>
            <td style="width:20%">
              <div class="flex items-center gap-2">
                <span>{{ customer.cpf | mask:'000.000.000-00' }}</span>
              </div>
            </td>
            <td style="width:25%">
              <div class="flex items-center gap-2">
                <span>{{ customer.email }}</span>
              </div>
            </td>
            <td style="width:15%">
              <button (click)="verMais(customer)" class="btn btn-primary">Ver Mais</button>
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="5">Nenhum cliente encontrado com esse filtro.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>



<!--MODAL PARA ADICIONAR UM CLIENTE-->

<div class="card flex justify-center" id="adicionarClienteModal" tabindex="-1" role="dialog"
  aria-labelledby="adicionarClienteModalLabel" aria-hidden="true" style="position: fixed;">

  <p-dialog header="Adicionar Cliente" [(visible)]="visible" [modal]="true" [maskStyleClass]="'custom-backdrop'"
    [styleClass]="'custom-dialog'" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false" styleClass="custom-dialog" [closable]="false">
    <form [formGroup]="formCliente">
      <div class="input-div" [ngClass]="{'input-div--error': nomeInvalid}">
        <h5 for="nome">Nome *</h5>
        <input type="text" class="input" id="nome" formControlName="nome" (focus)="onFocus($event)"
          (blur)="onBlur($event)">
      </div>

      <div class="input-div" [ngClass]="{'input-div--error': cpfInvalid}">
        <h5 for="cpf">CPF *</h5>
        <input type="text" class="input" mask="000.000.000-00" id="cpf" formControlName="cpf" (focus)="onFocus($event)"
          (blur)="onBlur($event)">
      </div>

      <div class="input-div">
        <h5 for="email">Email *</h5>
        <input type="email" class="input" id="email" formControlName="email" (focus)="onFocus($event)"
          (blur)="onBlur($event)">
      </div>

      <div class="input-div" [ngClass]="{'input-div--error': telefoneInvalid}">
        <h5 for="telefone">Telefone *</h5>
        <input type="text" class="input" id="telefone" mask="(00)0000-0000||(00)00000-0000" formControlName="telefone"
          (focus)="onFocus($event)" (blur)="onBlur($event)">
      </div>

      <div class="input-div">
        <h5 for="logradouro">Logradouro</h5>
        <input type="text" class="input" id="logradouro" formControlName="logradouro" (focus)="onFocus($event)"
          (blur)="onBlur($event)">
      </div>

      <div class="input-div">
        <h5 for="numero">Número</h5>
        <input type="text" class="input" id="numero" formControlName="numero" (focus)="onFocus($event)"
          (blur)="onBlur($event)">
      </div>

      <div class="input-div">
        <h5 for="complemento">Complemento</h5>
        <input type="text" class="input" id="complemento" formControlName="complemento" (focus)="onFocus($event)"
          (blur)="onBlur($event)">
      </div>

      <div class="input-div">
        <h5 for="bairro">Bairro</h5>
        <input type="text" class="input" id="bairro" formControlName="bairro" (focus)="onFocus($event)"
          (blur)="onBlur($event)">
      </div>

      <div class="input-div">
        <h5 for="cidade">Cidade</h5>
        <input type="text" class="input" id="cidade" formControlName="cidade" (focus)="onFocus($event)"
          (blur)="onBlur($event)">
      </div>

      <div class="input-div" [ngClass]="{'input-div--error': ufInvalid}">
        <h5 for="uf">UF</h5>
        <input type="text" class="input" id="uf" formControlName="uf" mask="AA" (focus)="onFocus($event)"
          (blur)="onBlur($event)">
      </div>

      <div class="input-div" [ngClass]="{'input-div--error': cepInvalid}">
        <h5 for="cep">CEP</h5>
        <input type="text" class="input" id="cep" formControlName="cep" mask="00000-000" (focus)="onFocus($event)"
          (blur)="onBlur($event)">
      </div>

      <div class="input-div">
        <h5 for="rendaMensal">Renda Mensal</h5>
        <input type="number" class="input" id="rendaMensal" formControlName="rendaMensal" (focus)="onFocus($event)"
          (blur)="onBlur($event)">
      </div>
    </form>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Cancelar" (click)="visible=false" class="btn-secondary"></button>
      <button pButton type="button" label="Salvar" (click)="onSend(); visible=false" class="btn-primary"></button>
    </ng-template>
  </p-dialog>
</div>