<div class="overlay-wrapper">
    <div class="login-box">
        <div *ngIf="errorMessage" class="error-message">
            <div class="linha-vertical"></div>
            {{ errorMessage }}
        </div>
        <img class="wave" src="wave.png">
        <div class="container">
            <div class="img">
                <div class="register">
                    <span>Não tem login?</span>
                    <p>Registre-se agora clicando no botão abaixo</p>
                </div>
                <img src="undraw_mobile-log-in_0n4q.svg">
                <input type="submit" class="btn-register" value="Registrar" (click)="onRegister()">
            </div>
            <div class="login-content">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <img src="undraw_young-man-avatar_wgbd.svg">
                    <h2 class="title">Login</h2>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div>
                            <h5>Usuário</h5>
                            <input class="input" type="text" formControlName="usuario">
                        </div>
                    </div>
                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div>
                            <h5>Senha</h5>
                            <input class="input" type="password" formControlName="senha">
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit" class="btn" value="Entrar">
                    </div>
                    <div class="lostPass">
                        <a href="#">Esqueceu a senha?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>